/* 7B1618
C4907E
D9DBDD
577F91
252627 */

body{
    /* background-color: #F6BD60; */
    background: #D9DBDD;
    overflow: hidden;
} 

.container::-webkit-scrollbar{
  display: none;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.page {
    display: inline-block;
    height: 100vh;
    width: fit-content;
    scroll-snap-align: start;
    font-size: 150%;
    margin-left: clamp(200px, 38vw, 350px);
}

.nav-box{
    position: fixed;
    width: 20vw;
    max-width:180px;
    /* min-width:140px; */
    height: 100vh;
    background:#577F91; /*#F7EDE2;*/
    padding: 30px;
    text-align: center;
    margin-top: 0%;
    font-family:"Century Gothic", "sans serif";
    font-size: min(2vw, 15px);
}
.nav-box-img{
    border: 5px solid #f4bdaa;
    width: 15vw;
    max-width: 100px;
    height: 15vw;
    max-height: 100px;
    object-fit: cover;
    border-radius: 200px;
}
.nav-box h1{
    /* font-size: 25px; */
    letter-spacing: normal;
    font-weight: 100;
    color:#FFFFFF;
}
.nav-box h2{
    /* font-size: 15px; */
    letter-spacing: 3px;
    font-weight: 100;
    line-height: 200%;
}
.nav-box p{
    text-align: center;
}

.nav-box ul{
  padding: 0%;
}

.nav-box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.nav-box li a{
    text-decoration: none;
    font-size: clamp(20px, 2.5vw, 60px);
    transition: all ease-in-out 250ms;
    color: #f4bdaa;
}
.nav-box a:hover{
    color: #ffffff;
    font-weight: 900;
    
}
.nav-box a{
  text-decoration: none;
  font-family:"Century Gothic", "sans serif";
  transition: all ease-in-out 250ms;
  color:#FFFFFF;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 300%;
  overflow-y: scroll;
}

.about-me-box{
  float:left;
  margin-top: 10%;
  font-family:'Century Gothic', sans-serif;
  overflow-wrap: break-word;
  width: 40%;
  color: #252627;
  font-size: 1.5vw;
}

.about-me span{
  color:#7B1618;
  font-size: 110%;
  font-weight: 900;
}

.about-me p{
  position: relative;
  height: 100vh;
  margin-top: 20%;
  font-family:"Century Gothic", "sans serif";
  color: #252627;
  text-align:center;
}

.about-me-box .resume{
  background: #f4bdaa;
  padding: 1vw;
  border-radius:10px;
  text-decoration: none;
  color:#7B1618;
  border-color:#252627;
  border-width: 1vw;
}

.about-me-box .resume:hover{
  font-weight: 900;
}