body{
    background-color: #F6BD60;
} 

.page {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.nav-box{
    float: left;
    width: 20%;
    max-width:180px;
    height: 100vh;
    overflow:auto;
    background:#F7EDE2;
    padding: 30px;
    text-align: center;
    margin-top: 0%;
    font-family:"Century Gothic", "sans serif";
}
.nav-box-img{
    border: 5px solid #F28482;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 200px;
}
.nav-box h1{
    font-size: 25px;
    letter-spacing: normal;
    font-weight: 100;
}
.nav-box h2{
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
    line-height: 200%;
}
.nav-box p{
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
}
.nav-box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.nav-box li a{
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
    color: #84A59D;
}
.nav-box a:hover{
    color: #7b3e3d;
    font-weight: 900;
    
}
.nav-box a{
  text-decoration: none;
  font-family:"Century Gothic", "sans serif";
  transition: all ease-in-out 250ms;
  color:#F28482;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 300%;
}

.about-me-box{
  margin-top: 5%;
  float: left;
  width: 50%;
  margin-left: 10%;
}

.about-me h1{
  text-align: center;
  font-family:"Century Gothic", "sans serif";
}


.about-me p{
  position: relative;
  height: 100vh;
  bottom: 0;
  overflow:auto;
  padding: 30px;
  text-align: center;
  margin: auto;
  margin-top: 20%;
  margin-left: 50%;
  font-family:"Century Gothic", "sans serif";
}

/* .parent {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.child {
  width: 33%;
  float: left;
} */